.App {
  /* padding: 53px 36px; */
}
.heroes{
  margin: auto;
  max-width: 1200px;
}
.heroCard{
  width: 200px;
  height: 200px;

}
.heroCard img{
  height: auto;
  width: 300px;
}

.heroCards{
  display: flex;
  justify-content: space-between;
}